# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Ambiente virtual
venv/
env/

# Configurações do IDE
.idea/
.vscode/

# Arquivos de ambiente
.env

# Graphviz
*.dot
*.gv

# Arquivos gerados
*.png
*.pdf
*.jpg